body {
    background-color: #EBEBEB;
}

.navbar {
     border-radius: 0px;
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
    border: 0px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    font-size: 12px;
}

.welcomeImg{
    width: 100%;
    height: 194px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 20%;
    }
}

a.thumbnail {
    text-decoration: none;
}

.welcomeEmptyBox{
    width: 100%;
    height: 158px;
}

.welcomeTitle {
    background-color: rgba(0, 0, 0, 0.54);
    /*font-size: 18px;*/
    color: rgba(255,255,255,0.87);
    /* text-decoration: none; */
    height: 36px;
    width: 100%;
    padding: 8px;
}

@media screen and (max-width: 1200px) {
    .welcomeImg{
        width: 100%;
        height: 154px;
        background-position: center;
        background-size: cover;
    }

    .welcomeEmptyBox{
        width: 100%;
        height: 118px;
    }
}

.slider{
    height: 400px;
    background-color: white;
    margin: 0px 0px 30px 0px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


/* NavBar */

.form-control {
    height: 30px;
}

@media (min-width: 768px){
    .navbar-form .form-control {
        font-size: 12px;
    }
}

.btn {
    font-size: 12px;
    height: 30px;
}

.navbar-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchInput {
    border-radius: 4px 0px 0px 4px;
}

.searchSubmit {
    border-radius: 0px 4px 4px 0px;
    margin-left: -4px;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        font-size: 12px;
        width: 300px;
    }
}


/* Slider */

.mask { float:left; margin:40px; width:400px; height:266px; overflow:hidden;  }
ul.images { position:relative; top:0px;left:0px; }
ul.images li { position:absolute; top:0px;left:0px; }

ul.triggers { position:absolute; top:310px; left:80px; }
ul.triggers li {
    float:left; margin:0 5px; font: bold 16px arial; cursor:pointer;
    background-color:#ccc; color:#000; padding:10px; list-style: none;
}ul.triggers li.active {background-color:red; color:#000; }


.control {position:absolute; top: 380px; color:#fff; cursor:pointer;}
.prev { left:120px; }
.next { left:180px; }



.mask {
    float: left;
    margin: 0.5%;
    width: 99%;
    height: 99%;
    overflow: hidden;
}

img {
    vertical-align: middle;
    width: 100%;
}

ul.triggers li {
    float: left;
    margin: 0 5px;
    font: bold 16px arial;
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    padding: 7px;
    list-style: none;
    border-radius: 100%;
    border: 1px solid #A5A5A5;
}

ul.triggers li.active {
    background-color: #5BC0DE;
    color: #000;
}

ul.triggers {
    position: static;
    /* top: 441px; */
    /* left: 875px; */
    margin: auto;
    /* position: relative; */
    /* margin-top: -295px; */
    display: table;
    padding: 0;
}

.control {
    position: relative;
    top: 165px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    padding: 0px 12px;
    opacity: 0.3;
    transition:All 1s ease;
}

.control:hover {
    opacity: 0.6;
    transition:All 1s ease;
}

.prev {
     left: 0px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 100%;
    float:left;
    -webkit-transform: rotate(-180deg);
}

.next {
     left: 0px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 100%;
    float: right;

}